@media screen and (min-width: 768px) {
    .accardion__title {
        font-size: 2.5rem;
    }

    .accardion__item-title {
        font-size: 2rem;
        padding: 2.4rem;
    }

    .accardion__item.open .accardion__text-wrapper {
        padding-bottom: 2.4rem;
    }

    .accardion__item-text {
        font-size: 1.6rem;
    }
}